.dashboard{
    width: 100%;
    display: flex;
    flex: 1;
}

.dashboard_left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edfbfb;
    padding: 20px 0px;
}

.greetbox{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.dashboard_right{
    width: 40%;
}

.dashboard_right_inner{
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
}

.course_heading{
    font-size: 1rem;
    padding-bottom: 10px;
    color: #505050;
    font-weight: bolder;
}

.courses_container{
    max-height: 70%;
}

.start_studying{
    float: right;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #ffd97b;
    font-weight: bolder;
}