.dashboard{
    width: 100%;
    padding: 20px;
    background-color: #b9eaea;
    height:100%;
}

.dashboard_container_oustside{
    padding-top: 1px;
    padding-bottom: 4px;
    background-color: rgb(214 233 239);
    height:60%;
}

.dashboard_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 15px 0px;
    height:100%;
}

.dashboard_left{
    display: flex;
    width: 45%;
    /* border: 2px solid red; */
}


.dashboard_right_container{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.dashboard_right{
    padding: 10px;
    border: 1px solid black;
    overflow-y: scroll;
    height: 60%;
}

.dashboard_right_container button{
    width: 160px;
    margin-top: 40px;
    border: none;
    border-radius: 100px;
    padding: 8px;
    background-color: rgb(31, 101, 31);
    color: white;
}

.filter button{
    width: 130px;
    margin-top: 40px;
    border: none;
    border-radius: 100px;
    padding: 8px;
    background-color: rgb(31, 101, 31);
    color: white;
}

.dashboard_right_container button:hover, .filter button:hover{
    cursor: pointer;
}

.dashboard_right::-webkit-scrollbar {
    display: none;
}

.dashboard_right {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
