.upload_outer_container{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.upload_outer_container_background{
    width: 90%;
    background-color: #d4ffff;
    padding: 60px 0px;
}

.upload_container{
    background-color: white;
    width: 80%;
    padding: 50px 50px;
    margin: auto;
}

.upload_heading{
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 30px;
}

.upload{
    display: flex;
}

.file_upload_container{
    width: 50%;
}

.file_upload_container p{
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 10px;
}

.file_upload{
    width: 100%;
    border: 2px dashed grey;
    padding: 20px;
}

.file_upload p{
    font-size: 1rem;
    font-weight: lighter;
    padding: 10px 20px;
}

.uploader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploader_img{
    width: 80px;
    height: 80px;
    color: grey;
}

.file_info_container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file_info{
    width: 50%;
    max-width: 300px;
}

.uload_from_group{
    padding-bottom: 10px;
}

.uload_from_group p{
    font-size: 0.7rem;
    padding-bottom: 3px;
}

.uload_from_group input{
    padding: 7px 10px;
    width: 100%;
}

.generate_summary{
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #ffd97b;
    font-weight: bolder;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.generate_summary:hover{
    background-color: #f9c440;
}

.unFilled{
    border: 1px solid red;
}