.add_course_desc{
    width: 30%;
    background-color: rgb(87, 188, 228);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.add_course_desc p{
    font-size: 2rem;
    width: 70%;
    color: rgb(50, 50, 50);
}
