.header{
    width: 100vw;
    padding: 14px;
}
.header_container{
    /* border: 2px solid black; */
    width: 50%;
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}

.left p{
    font-size: 1.5rem;
    font-weight: bolder;
}

.left, .right{
    /* border: 1px solid black; */
}

.right ul{
    list-style: none;
    display: flex;
}

.right ul li{
    padding-left: 20px;
    font-size: 0.8rem;
}