.teacher_dashboard_container{
    background-color: rgb(198, 239, 198);
    padding-top: 10px;
    padding-bottom: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.teacher_dashboard{
    width: 98%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    margin-top: 15px;
    flex: 1;
}

.calender_parent_container{
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
}

.schedule_test_button{
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    /* float: right; */
    height: 23px;
}
.schedule_test_button button{
    /* float: right; */
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 3px;
}

.calender_parent{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 90%;
}

.course_container{
    border: 1px solid black;
    width: 35%;
    padding: 10px;
    height: fit-content;
}

.add_button{
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    height: 35px;
}
.add_button button{
    padding: 5px 10px;
    /* float: right; */
    position: absolute;
    right: 7px;
}

.add_button button:hover{
    cursor: pointer;   
}

.course{
    padding: 10px 0px;
}