.teacher_dashboard_container{
    background-color: rgb(198, 239, 198);
    padding-top: 10px;
    padding-bottom: 20px;
}

.teacher_dashboard{
    width: 98%;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    margin-top: 15px;
}

.calender_parent_container{
    width: 50%;
}

.schedule_test_button{
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    /* float: right; */
    height: 23px;
}
.schedule_test_button button{
    /* float: right; */
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 3px;
}

.calender_parent{
    display: flex;
    justify-content: space-between;
}

.course_container{
    border: 1px solid black;
    width: 25%;
    padding: 4px;
    height: fit-content;
}

.add_button{
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    height: 35px;
}
.add_button button{
    padding: 5px 10px;
    /* float: right; */
    position: absolute;
    right: 7px;
}

.add_button button:hover{
    cursor: pointer;   
}

.course{
    padding: 10px 0px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
}