.teacher_subject{
    width: 100%;
    background-color: orange;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.innerbox{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
}

.user{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    width: 30px;
}

.font1{
    font-weight: bolder;
    padding: 4px;
    text-align: center;
}

.font2{
    font-size: 0.7rem;
    text-align: center;
    color: rgb(71, 70, 70);
}