.calendar_container{
  width: 95%;
  height: 90%;
  background-color: white;
  display: flex;
  padding: 10px;
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.calendar_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.calendar_container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
  max-height: 90%;
  margin: 0 auto;
  grid-template-rows: 30px auto;
  width: 100%;
}

.day {
  border: 0.1px solid rgb(192, 189, 189);
  display: flex;
  flex-direction: column;
}

.show_events{
  width: 100%;
  font-size: 0.5rem;
  overflow-y: scroll;
}

.event_list{
  padding-left: 12px;
  height: 40px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.show_events::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.show_events {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.day_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.date{
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 5px;
}
.event_count{
  font-size: 0.8rem;
  text-align: center;
  height: 100%;
  border-radius: 5px;
  padding-top: 3px;
}

.event_container{
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(58, 58, 58);
  border-radius: 10px;
  z-index: 3;
  width: 500px;
}

.events{
  padding: 0px 10px;
}

.events ul{
  padding: 20px;
}

.events ul li{
  padding: 2px;
}

.puka{
  position: absolute;
  width: 100px;
  height: 120px;
  left: 0px;
  bottom: 0px;
  transform: scaleX(-1);
}