.calendar_container{
  width: 100%;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: 30px auto;
  width: 100%;
}

.day {
  border: 0.1px solid rgb(192, 189, 189);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.show_events{
  /* border: 1px solid red; */
  height: 60px;
  width: 100%;
  padding: 15px;
  font-size: 0.5rem;
  overflow-y: scroll;
}

.day_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

.date{
  /* border: 1px solid black; */
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 5px;
}
.event_count{
  font-size: 0.8rem;
  text-align: center;
  height: 100%;
  border-radius: 5px;
  padding-top: 3px;
}

.event_container{
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(58, 58, 58);
  border-radius: 10px;

}

.events{
  padding: 0px 10px;
}

.events ul{
  padding: 20px;
}

.events ul li{
  padding: 2px;
}