.calendar_container{
  width: 100%;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
  height: 310px;
  gap: 1px;
  margin: 0 auto;
  grid-template-rows: 30px auto;
  width: 100%;
}

.day {
  border: 0.5px solid black;
}

.day_name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.events{
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 10px black;
}